<h1 class="t-center ruled-heading "><span>Current Request Pickup Locations</span></h1>
<div class="l-overflow-clear">
<h3 class="t-center"><span>Barcode#: {{barcode}}</span></h3>
</div>

<div class="l-overflow-clear">
  {% for item in location_urls %}
   <p> <a href="{{ item.url }}" target="_blank">holds for {{ item.locname }} [{{ item.loc }}]</a></p>
  {% endfor %}
</div>
