{#
/**
 * Pickup Requests Form   
 */
#}
{{ formhtml }}
<div id="modalDialog">
  <p>The art print or tool you have selected will not fit in the locker that you have chosen. Please select the lobby to pickup this item</p>
</div>

{{ attach_library('arborcat/pickuprequest-functions') }}
